<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>landmarks</key>
	<array>
		<dict>
			<key>proximityUUID</key>
			<string>F0018B9B-7509-4C31-A905-1A27D39C003C</string>
			<key>major</key>
			<integer>21500</integer>
			<key>minor</key>
			<integer>48945</integer>
			<key>y</key>
			<real>3.75</real>
			<key>x</key>
			<real>2.44</real>
		</dict>
		<dict>
			<key>proximityUUID</key>
			<string>F0018B9B-7509-4C31-A905-1A27D39C003C</string>
			<key>major</key>
			<integer>38722</integer>
			<key>minor</key>
			<integer>6270</integer>
			<key>y</key>
			<real>4.75</real>
			<key>x</key>
			<real>2.44</real>
		</dict>
		<dict>
			<key>proximityUUID</key>
			<string>F0018B9B-7509-4C31-A905-1A27D39C003C</string>
			<key>major</key>
			<integer>39821</integer>
			<key>minor</key>
			<integer>56686</integer>
			<key>y</key>
			<real>5.75</real>
			<key>x</key>
			<real>2.44</real>
		</dict>
		<dict>
			<key>proximityUUID</key>
			<string>F0018B9B-7509-4C31-A905-1A27D39C003C</string>
			<key>major</key>
			<integer>41738</integer>
			<key>minor</key>
			<integer>1201</integer>
			<key>y</key>
			<real>6.75</real>
			<key>x</key>
			<real>2.44</real>
		</dict>
		<dict>
			<key>proximityUUID</key>
			<string>F0018B9B-7509-4C31-A905-1A27D39C003C</string>
			<key>major</key>
			<integer>27850</integer>
			<key>minor</key>
			<real>24174</real>
			<key>y</key>
			<real>7.75</real>
			<key>x</key>
			<real>2.44</real>
		</dict>
		<dict>
			<key>proximityUUID</key>
			<string>F0018B9B-7509-4C31-A905-1A27D39C003C</string>
			<key>major</key>
			<integer>29351</integer>
			<key>minor</key>
			<integer>12971</integer>
			<key>y</key>
			<real>3.75</real>
			<key>x</key>
			<real>2.56</real>
		</dict>
		<dict>
			<key>proximityUUID</key>
			<string>F0018B9B-7509-4C31-A905-1A27D39C003C</string>
			<key>major</key>
			<integer>23750</integer>
			<key>minor</key>
			<integer>52833</integer>
			<key>y</key>
			<real>4.75</real>
			<key>x</key>
			<real>2.56</real>
		</dict>
		<dict>
			<key>proximityUUID</key>
			<string>F0018B9B-7509-4C31-A905-1A27D39C003C</string>
			<key>major</key>
			<integer>54337</integer>
			<key>minor</key>
			<integer>42057</integer>
			<key>y</key>
			<real>5.75</real>
			<key>x</key>
			<real>2.56</real>
		</dict>
		<dict>
			<key>proximityUUID</key>
			<string>F0018B9B-7509-4C31-A905-1A27D39C003C</string>
			<key>major</key>
			<integer>52281</integer>
			<key>minor</key>
			<integer>20431</integer>
			<key>y</key>
			<real>6.75</real>
			<key>x</key>
			<real>2.56</real>
		</dict>
		<dict>
			<key>proximityUUID</key>
			<string>F0018B9B-7509-4C31-A905-1A27D39C003C</string>
			<key>major</key>
			<integer>20277</integer>
			<key>minor</key>
			<integer>50452</integer>
			<key>y</key>
			<real>7.75</real>
			<key>x</key>
			<real>2.56</real>
		</dict>
	</array>
	<key>scale</key>
	<integer>100</integer>
	<key>orientation</key>
	<integer>120</integer>
</dict>
</plist>
